<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>添加设备</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
	<script src="__PUBLIC__/Admin/js/jquery-1.7.2.js" ></script>
	<script src="__PUBLIC__/Admin/js/bootstrap.js"></script>
	<style>
		form{
			width: 50%; 
			height:200px;
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			font-size: 18px;
			font-family: "黑体";
		}
		form div{
			width: 450px; 
			height:60px;
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		form div input{
			margin-right: 30px;
		}
		form div button{
			width: 90px;
		}
	</style>
</head>
<body>
	<form class="tabbable table-bordered" action="" method="">
		<div>设备编码：<input type="text" name="" placeholder="请输入设备编码"><button style="vertical-align:top;" class="btn">确认</button></div>
	</form>
</body>
</html>